

/*--------------------------- Squelette (polices,marges etc..) ---------------------------*/

*{
	margin: 0px;}
h2{
	text-align: center;
	font-family: sans-serif;
	font-weight: 1000;
	font-size:25px;
	padding: 30px;}
h3{
	font-family: sans-serif;
	font-weight:700;
	font-size:20px;
	padding: 30px;
	padding-left: 1.5%;}
p{
	font-family: sans-serif;
	font-weight: normal;
	font-size:23.75px}
body,section{
	width: 100%;}
body{
	height:100%;}

/*--------------------------- Style des sections ---------------------------*/

section{
	width: 100%; 
	padding-top : 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	border-top : 15px solid #424558;
	border-bottom : 5px solid #424558;}
footer{
	height : 40px;
	padding : 30px;
	margin-top: 50px;
	text-align : center;
	background-color : #C5C5C5;
	border-top : 15px solid #AAA;
	border-bottom : 5px solid #AAA;}

/*--------------------------- Section "1-Les ordinateurs" ---------------------------*/


/*------------- Sous-partie A -------------*/
.Sous-partieA{
	padding:20px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: 5px solid #424558;
	height: 820px;}
.ImagesZuse{
	padding : 20px;
	display:inline-block;
	justify-content: start;
	width:20%;
	height: 100%;}
.TexteZuse{
	float:right;
	padding:20px;
	width: 75%;
	height: 100%;}
#IKZ,#IZ1,#IZ3{
	height : 200px;
	border : 5px solid #424558;
	margin-left: auto;
	margin-right: auto;
	display: block flex;
	justify-content: center;}
#ITKZ,#ITZ1,#ITZ3{
	margin-left: 20px;
	padding-top: 10px;}
#TKZ,#TZ1,#TZ3{
	text-align: center;
	padding-top: 10px;}
/*------------- Sous-partie B -------------*/
.Sous-partieB{
	padding:20px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: 5px solid #424558;
	height: 775px;}
.TextesB{
	padding : 20px;
	display:inline-block;
	justify-content: start;
	width:75%;}
.ImagesB{
	float:right;
	padding:20px;
	width: 20%;}
#ITàV,#ICo,#IEn{
	height : 200px;
	border : 5px solid #424558;
	margin-left: auto;
	margin-right: auto;
	display: block flex;
	justify-content: center;}
#TTàV,#TCo,#TEn{
	text-align: center;
	padding-top: 10px;}
/*------------- Sous-partie C -------------*/
.Sous-partieC{
	padding:20px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: 5px solid #424558;
	height: 1030px;}
#ImagesC{
	padding : 20px;
	display:inline-block;
	justify-content: start;
	width:20%;}
#TextesC{
	float:right;
	padding:20px;
	width: 75%;}
#IEd,#ITr,#ICi,#IVN{
	height : 200px;
	border : 5px solid #424558;
	margin-left: auto;
	margin-right: auto;
	display: block flex;
	justify-content: center;}
#TEd,#TTr,#TCi,#TVN{
	text-align: center;
	padding-top: 10px;}
/*------------- Sous-partie D -------------*/
td{
	text-align : center;
	font-family: sans-serif;
	font-weight: normal;
	font-size:20px;
	table-layout: fixed;
	border-collapse: collapse;
	border-bottom: 2px solid #424558;
	padding: 10px;}
tr{	
	table-layout: fixed;
	border-collapse: collapse;
	border-bottom: 2px solid #424558;
	height: 75px;}
table{
	margin-bottom: 50px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	table-layout: fixed;
	border-collapse: collapse;
	border: 5px solid #424558;}
#PremièreLigne{
	border: 5px solid #424558;}
th{
	text-align : center;
	font-family: sans-serif;
	font-size:20px;
	font-weight: 1000;}	


/*--------------------------- Section "2 - Les langages de programmation" ---------------------------*/

.ParaLangages{
	border: 5px solid #424558;
	padding: 40px;
	margin: 20px;
	margin-left: 1.5%;
	margin-right: 1.5%;}

/*--------------------------- Section "3 - Les systèmes d'exploitation" ---------------------------*/	

.ParaSystèmes{
	border: 5px solid #424558;
	padding: 40px;
	margin: 20px;
	margin-left: 1.5%;
	margin-right: 1.5%;}

/*--------------------------- Section "Qui suis-je ?" ---------------------------*/

.ParaMoi{
	padding:20px;
	margin: 20px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: 5px solid #424558;
	height: auto;}	
#Moi{
	height: auto;}
#ImagesMoi{
	margin-left: 20px;
	padding-top: 10px;
	padding : 20px;
	display:inline-block;
	justify-content: start;
	width:20%;}
#TextesMoi{
	float:right;
	padding:20px;
	width: 70%;}
#IM{
	height : 200px;
	border : 5px solid #424558;
	margin-left: auto;
	margin-right: auto;
	display: block flex;
	justify-content: center;}
#TM{
	text-align: center;
	padding-top: 10px;}

/*--------------------------- Section "Sources" ---------------------------*/

.ParaSources{
	padding:20px;
	margin: 20px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: 5px solid #424558;
	height: auto;}
#IW,#IMD,#IPG,#IOC,#IW3,#IGPT{
	height : 200px;
	margin-left: auto;
	margin-right: auto;
	display: block flex;
	justify-content: center;}
#TW,#TMD,#TPG,#TOC,#TW3,#TGPT{
	text-align: center;
	padding-top: 10px;}
#IWiki,#IOpenClassrooms,#IMDN,#IPierreGiraud,#IW3Schools,#IChatGPT{
	padding-top: 20px;
	height:300px;
	width: 400px;
	display:inline-block;}
#ImagesSources{
	width: 100%;
	margin: 50px;
	padding-left: 16.5%;
	padding-right: 16.5%;}
#PL,#DL{
	width: 100%;
	display:inline-block;
	justify-content: start;
	height:300px;}





/*--------------------------- Barre de navigation ---------------------------*/	

#nav{
	margin:0;
	display: flex;
	justify-content: center;
	background-color:#424558;
	width:100%;
	padding-inline-start: 0px;}
#nav li{
	display:inline;
	margin:0;}
#nav ul{
	padding-inline-start: 0px;}
#nav a:link, ul a:visited{
   color:#ffffff;
   background:424558;
   padding:30px;
   padding-top: 35px;
   float:left;
   width:auto;
   border-right:1px solid 424558;
   text-decoration:none;
   font-family: monospace;
   font-weight: bold;
   text-transform:uppercase;
   text-align: center;
   margin-top: 0px;}
#navhistoire a:hover{
   color:#fff;
   background:rgba(120, 120, 255, 0.25);
   padding-top: 25px;
   border-top: 10px solid rgba(120, 120, 255, 1);
   text-shadow: 3px 3px 3px black;}
#navsources a:hover{
	color:#fff;
	background: rgba(120, 255, 120, 0.25);
	border-top : 10px solid rgba(120, 255, 120, 1);
	padding-top: 25px;
	text-shadow: 3px 3px 3px black;}
#navindex a:hover{
	color: #fff;
	background: rgba(255, 120, 120, 0.25);
	border-top : 10px solid rgba(255, 120, 120, 1);
	padding-top: 25px;
	text-shadow: 3px 3px 3px black;}
#navindex,#navsources,#navhistoire{
	font-size: 20px;}

/*--------------------------- Javascript ---------------------------*/	

#S1:hover,#SPA:hover,#SPB:hover,#SPC:hover,#SPD:hover,#S2:hover,#S3:hover,#SM:hover,#SS:hover{
	cursor: pointer;}
#CS1,#CSPA,#CSPB,#CSPC,#CSPD,#CS2,#CS3,#CSM,#CSS{
	display: none;}
